/* ===============
	CODE
=============== */

code {
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  font-family: Courier, monospace;
  font-size: 14px;
  background-color: #f7f7f7;
}

p code,
li code {
  padding: 3px 5px;
}

/* Responsive Code */
@media only screen and (max-width: 640px) {
  code {
    font-size: 13px;
  }
  
  p code,
  li code {
    padding: 2px 4px;
  }
}

@media only screen and (max-width: 480px) {
  code {
    font-size: 12px;
  }
}