/* ===============
	PRE
=============== */

pre {
  overflow: auto;
  padding: 25px;
  font-size: 14px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  font-family: Courier, monospace;
}

/* Responsive Pre */
@media only screen and (max-width: 640px) {
  pre {
    padding: 15px;
    font-size: 13px;
  }
}

@media only screen and (max-width: 480px) {
  pre {
    padding: 12px;
    font-size: 12px;
  }
}